name: A workflow for my Hello World file
on: workflow_displatch
jobs:
  build:
    name: Hello world action
    runs-on: ubuntu-latest
    steps:
      - name: "Show local file contents"
        run: ls -ltra
